<!DOCTYPE html>
<html ng-app="mapApp">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Map App</title>
        <link rel="icon" href="images/icon.png">
        <link rel="stylesheet" href="css/libs/bootstrap.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/libs/fonts.css">
    </head>
    <body ng-controller="mainController">


        <map center="{{latitude}}, {{longitude}}" zoom="{{zoom}}" on-click="placeMarker()">
            <marker position = "{{places[0].position.A}}, {{places[0].position.F}}" id="{{places[0].id}}" on-click="showInfo('Iglesia Antigua')" animation="DROP" title="Iglesia Antigua"></marker>

            <marker position = "{{places[1].position.A}}, {{places[1].position.F}}" id="{{places[1].id}}" on-click="showInfo('Mercado Municipal')" animation="DROP" title="Mercado Municipal"></marker>

            <marker position = "{{places[2].position.A}}, {{places[2].position.F}}" id="{{places[2].id}}" on-click="showInfo('Torre Municipal')" animation="DROP" title="Torre Municipal"></marker>

            <marker position = "{{places[3].position.A}}, {{places[3].position.F}}" id="{{places[3].id}}" on-click="showInfo('Estadio San Miguel')" animation="DROP" title="Estadio San Miguel"></marker>

        </map>

        <!--modal to display information of the markers-->
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>{{place}}</h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4 imgContainer">
                                <img ng-src="{{image}}" class="img-responsive imgDescription">
                            </div>
                            <div class="col-md-8">
                                <p>{{info}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div> <!--end of modal-->


        <div class="searcher">
            <input type="text" id="autocomplete" ng-model="searchPlace" ng-focus="showList()" ng-keyup="showItem(searchPlace)">

            <button type="button" class="btn btn-primary" ng-click="goTo()">
                <span class="icon-search search_icon"></span>
            </button>

            <div class="listPlaces">
                <ul ng-show = "show">
                    <li ng-click="addValue('Iglesia Antigua')" ng-show="showFirstItem">
                        {{places[0].name}}
                    </li>
                    <li ng-click="addValue('Mercado Municipal')" ng-show="showSecodItem">
                        {{places[1].name}}
                    </li>
                    <li ng-click="addValue('Torre Municipal')" ng-show="showThirdItem">
                        {{places[2].name}}
                    </li>
                    <li ng-click="addValue('Estadio San Miguel')" ng-show="showFourthItem">
                        {{places[3].name}}
                    </li>
                </ul>
            </div>
        </div> <!--End of .searcher-->

        <div class="markerIconDiv iconContainer" ng-click="showSearchBar()">
            <span class="icon-search icon toSearch" title="Search your markers"></span>
            <p class="placesInterest"></p>
        </div>


        <!--jquery-->
        <script src="js/shared/jquery-2.1.1.js"></script>

        <!--bootstrap-->
        <script src="js/shared/bootstrap.js"></script>

        <!--angular-->
        <script src="js/shared/angular.js"></script>

        <!--google maps api-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKO8Yc9-ZjY7u-cQVD3o9gkB21X5SDf-M"></script>

        <!--google maps angular-->
        <script src="js/shared/ng-map.min.js"></script>

        <!--module-->
        <script src="js/app.js"></script>

        <!--controller-->
        <script src="js/controllers/mainController.js"></script>
    </body>
</html>
